<div class="row">
    <div class="col-sm-7">
        <div>
            <h1><%= @destination[:title] %></h1>
            <p>Country: <%= @destination[:country] %></p>
            <p>Region: <%= @destination[:region] %></p>
            <p>Description: <%= @destination[:description] %></p>
        </div>
        <div>
            <h3><i class="far fa-calendar-alt"></i> Best dates to go</h3>
            <p><%= @destination[:best_dates_to_go] %></p>
        </div>
        <div>
        <% for comment in @comments %>
            <div class="media">
                <% if comment[:like] %>
                    <i class="fas fa-thumbs-up fa-3x mr-3"></i>
                <% else %>
                    <i class="fas fa-thumbs-down fa-3x mr-3"></i>
                <% end %>
                <div class="media-body">
                    <h5 class="mt-0">
                        <%= @users_table.where(id: comment[:user_id]).to_a[0][:name] %>

                        <small>
                            <!-- only show these links if it's my comment -->
                            <% if @current_user && @current_user[:id] == comment[:user_id] %>
                                (<a href="/comments/<%= comment[:id] %>/edit">edit</a> | <a href="/comments/<%= comment[:id] %>/destroy">delete</a>)
                            <% end %>
                        </small>
                    </h5>
                    <%= comment[:details] %>
                </div>
            </div>
        <% end %>
        <p class="mt-5">
            <% if @current_user %>
                <a href="/destinations/<%= @destination[:id] %>/comments/new" class="btn btn-primary">Comment now!</a>
            <% else %>
                <a href="/logins/new" class="btn btn-danger">Please sign in to comment</a>
            <% end %>
        </p>
        </div>
    </div>
<div class="col-sm-5">
        <h3>Map</h3> 
            <iframe
                width="600"
                height="450"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw
                &q=<%= @lat_long %>&zoom=8" allowfullscreen>
            </iframe>
        <p><%= @destination[:location] %></p>
        <h3>How many peope like this destination?</h3>
        <p><%= @like_count %></p>
    </div>
</div>