<div class="row">
    <div class="col-sm-9">
        <h1><%= @destination[:title] %></h1>
        <p><%= @destination[:description] %></p>
        <% for comment in @comments %>
            <div class="media">
                <% if comment[:like] %>
                    <i class="fas fa-thumbs-up fa-3x mr-3"></i>
                <% else %>
                    <i class="fas fa-thumbs-down fa-3x mr-3"></i>
                <% end %>
                <div class="media-body">
                    <h5 class="mt-0"><%= @users_table.where(id: comment[:user_id]).to_a[0][:name] %></h5>
                    <%= comment[:comments] %>
                </div>
            </div>
        <% end %>
        <p class="mt-5">
            <% if @current_user %>
                <a href="/destinations/<%= @destination[:id] %>/comments/new" class="btn btn-primary">Comment know!</a>
            <% else %>
                <a href="/logins/new" class="btn btn-danger">Please sign in to comment</a>
            <% end %>
        </p>
    </div>
    <div class="col-sm-3">
        <h3>Where?</h3>
        <p><%= @destination[:location] %></p>
        <h3>How many peope like this destination?</h3>
        <p><%= @like_count %></p>
    </div>
</div>