<h1>Edit comment for <%= @destination[:title] %></h1>
<p>Country: <%= @destination[:country] %>
<br>Region: <%= @destination[:region] %>
</p>

<form action="/comments/<%= @comment[:id] %>/update" method="post">
  <div class="form-group">
    <label>Do you like this destination?</label>
    <select class="form-control" name="like">
      <% if @comment[:like] %>
        <option value="1" selected>Yes</option>
        <option value="0">No</option>
      <% else %>
        <option value="1">Yes</option>
        <option value="0" selected>No</option>
      <% end %>
    </select>
  </div>

  <div class="form-group">
    <label>Comment</label>
    <textarea class="form-control" rows="3" name="details"><%= @comment[:details] %></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Tell the others</button>
</form>